# Node / Frontend
node_modules/
.next/
out/
.env.local
.env.development
.env.production
.env
*.env 
.yarn/
*.log

# Ignore Terraform state files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.tfplan


# Python / Backend
__pycache__/
*.pyc
venv/
.env

# Docker
*.tar
*.pid

# macOS
.DS_Store

# System
*.swp
*.swo

# VS Code / JetBrains
.vscode/
.idea/
